body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#todo-container {
  width: 400px;
  margin: 30px auto;
}

#task-input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#add-task-btn {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}

.task-item button {
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.task-label {
  flex-grow: 1;
}

.completed .task-label {
  text-decoration: line-through;
  color: #999;
}

.task-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #999;
  outline: none;
  cursor: pointer;
}

.task-checkbox:checked {
  background-color: #999;
}
